$fab-padding: 64px;
$max-width: 768px;
$safe-width: 24px;

cdk-virtual-scroll-viewport {
  height: 100%;
}

ion-buttons {
  padding-right: 4px;
}

ion-item {
  &.ios {
    --padding-start: 16px;
    left: 64px;
  }
  &.md {
    --padding-start: 0;
    left: 52px;
  }
  position: absolute;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
}

ion-item ion-icon {
  font-size: 42px;
  margin-right: 8px;
}

.container {
  height: 100%;
  margin: auto;
  max-width: $max-width;
}

.shade {
  background-color: var(--ion-color-dark-contrast);
  bottom: 0;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.record-container {
  ion-buttons {
    ion-button {
      --color: var(--ion-color-contrast);
    }
    justify-content: flex-end;
    padding-right: $fab-padding;
  }

  ion-fab-button {
    &.send {
      --background: rgb(var(--send-color));
      --background-activated: rgb(var(--send-color));
      --background-focused: rgb(var(--send-color));
      --background-hover: rgb(var(--send-color));
    }
    --background: rgb(var(--record-color));
    --background-activated: rgb(var(--record-color));
    --background-focused: rgb(var(--record-color));
    --background-hover: rgb(var(--record-color));
    --border-radius: 28px;
    --box-shadow: none;
    --color: white;
    margin-left: auto;
    transition: background-color 150ms ease-in-out;
    z-index: 100;
  }

  span {
    padding-left: $safe-width;
    padding-right: $fab-padding;
  }

  span,
  ion-buttons {
    max-width: $max-width;
    position: absolute;
    width: 100%;
  }

  background-color: var(--ion-color-light);
  border-radius: 28px;
  bottom: calc(12px + var(--ion-safe-area-bottom));
  height: 56px;
  justify-content: end;
  left: 0;
  margin: auto;
  max-width: $max-width;
  position: fixed;
  right: 0;
  width: calc(100% - $safe-width);
  z-index: 3;
}
