<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-item
      [button]="true"
      [detail]="false"
      id="view-profile"
      [@fadeIn-150ms-0ms]=""
      lines="none"
      *ngIf="peer"
      slot="end"
    >
      <app-avatar [fileName]="peer.avatarFileName" [size]="34"></app-avatar>
      <ion-label class="ion-text-wrap">
        <h2>{{ peer?.nickname || peer?.displayName }}</h2>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<app-profile [user]="peer"></app-profile>

<ion-content [fullscreen]="true">
  <div class="container">
    <cdk-virtual-scroll-viewport
      #cdkScrollable
      itemSize="96"
      [minBufferPx]="platform.height() * 1.5"
      [maxBufferPx]="platform.height() * 2"
    >
      <app-message
        *cdkVirtualFor="let message of store.message.array"
        [message]="message"
      ></app-message>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="flex record-container">
    <span> {{ getStatusMessage() }} </span>
    <ion-buttons
      class="round"
      [@fadeIn-150ms-1s]=""
      *ngIf="status === 'recording'"
    >
      <ion-button
        (click)="isRecording ? pauseRecording() : resumeRecording()"
        [disabled]="isDisabled()"
        fill="clear"
      >
        <ion-icon [name]="isRecording ? 'pause' : 'play'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons
      class="round"
      [@fadeOut-150ms-0ms]=""
      *ngIf="status === 'recorded'"
    >
      <ion-button (click)="deleteRecording()" [@fade-150ms-0ms]="" fill="clear">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onPlayClick()" fill="clear">
        <ion-icon [name]="getPlayIcon()"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-fab-button
      [class.send]="status === 'recorded'"
      [disabled]="isDisabled()"
      (click)="onFabClick()"
    >
      <ion-icon [name]="getFabIcon()"></ion-icon>
    </ion-fab-button>
  </div>
  <div class="shade"></div>
</ion-content>

<div class="loading-shade" [@fadeOut-150ms-0ms]="" *ngIf="loading"></div>
