ion-icon {
  padding-right: 8px;
}

.container {
  ion-button {
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
    width: 100%;
  }
  margin: auto;
  max-width: 384px;
  padding: 32px;
}

.tag-info {
  ion-icon {
    font-size: 20px;
  }
  .flex {
    justify-content: flex-start;
  }
  background-color: var(--ion-color-light);
  border-radius: var(--custom-radius);
  margin-bottom: 32px;
  padding: 12px;
}
