<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="narrow-container">
    <div class="section">
      <h2>Account</h2>
      <app-user-form [fullForm]="userForm" [submit]="submit"></app-user-form>
      <ion-button color="secondary" [disabled]="" expand="block" size="large">
        <ion-icon name="save-outline"></ion-icon>
        Save
      </ion-button>
    </div>

    <div class="section">
      <h2>App</h2>
      <div class="card">
        <ion-item lines="none"> Dark Mode </ion-item>
      </div>
    </div>
  </div>
</ion-content>
