<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="narrow-container">
    <div class="section">
      <h2>Account</h2>
      <app-user-form
        (avatarChange)="avatar = $event"
        [fullForm]="userForm"
        [submit]="submit"
      ></app-user-form>
      <ion-button
        (click)="submit()"
        color="secondary"
        [disabled]="isDisabled()"
        expand="block"
        size="large"
      >
        <ion-icon name="save-outline"></ion-icon>
        Save
      </ion-button>
    </div>

    <div class="section">
      <h2>App Theme</h2>
      <ion-segment color="secondary" [formControl]="themeForm">
        <ion-segment-button value="auto">Auto</ion-segment-button>
        <ion-segment-button value="light">Light</ion-segment-button>
        <ion-segment-button value="dark">Dark</ion-segment-button>
      </ion-segment>
    </div>
  </div>
</ion-content>
