<div
  [class]="message.direction"
  class="ion-margin row-container"
  [@fade-150ms-0ms]=""
  *ngIf="message"
>
  <div class="message-container">
    <div class="bubble flex">
      <ion-button
        class="round"
        [color]="getColor()"
        (click)="onPlayClick()"
        fill="clear"
      >
        <ion-icon [name]="getPlayIcon()"></ion-icon>
      </ion-button>
      <ion-range
        [color]="getColor()"
        [disabled]="isRangeDisabled()"
        (ionKnobMoveStart)="onKnobMoveStart()"
        (ionKnobMoveEnd)="onKnobMoveEnd($event)"
        [max]="getDuration()"
        [value]="getCurrentTime()"
      ></ion-range>
      <span class="duration">{{ getTimeString() }}</span>
    </div>
    <ion-note>Sent at {{ formatDatetime(message.createdAt) }}</ion-note>
  </div>
</div>
