<ion-item
  *ngIf="message"
  [routerLink]="'/home/message/' + message._id"
  [detail]="false"
>
  <div
    slot="start"
    [class]="message.progress === 0 ? 'dot dot-unread' : 'dot'"
  ></div>
  <ion-label class="ion-text-wrap">
    <h2>
      Message From
      <span class="date">
        <ion-note>{{ message.createdAt }}</ion-note>
        <ion-icon
          name="chevron-forward"
          size="small"
          *ngIf="isIos()"
        ></ion-icon>
      </span>
    </h2>
    <h3>Message Subject</h3>
    <p>Message Body</p>
  </ion-label>
</ion-item>
