.send {
  .bubble {
    background-color: var(--ion-color-primary);
  }
  .duration {
    color: var(--ion-color-light);
  }
  ion-range::part(knob),
  ion-range::part(bar) {
    background-color: var(--ion-color-light);
  }
  justify-content: end;
}

.receive {
  .bubble {
    background-color: var(--ion-color-light);
  }
  .duration {
    color: var(--ion-color-dark);
  }
  ion-note {
    float: left;
  }
  justify-content: start;
}

.bubble {
  border-radius: var(--custom-radius);
  padding: 0 8px;
}

.duration {
  font-family: 'Courier Prime', monospace, monospace;
  font-size: 20px;
}

.message-container {
  max-width: 384px;
  width: 80%;
}

.row-container {
  display: flex;
}

ion-item {
  --background: transparent;
  --padding-end: var(--padding-start);
  --inner-padding-end: 0;
  --min-height: 96px;
}

ion-note {
  float: right;
  font-size: 15px;
  font-weight: normal;
  padding-top: 4px;
}
