ion-list {
  padding-top: 72px;
}

ion-modal::part(handle) {
  margin-top: 4px;
  margin-bottom: 4px;
}

.new-message-modal {
  ion-icon {
    &.ios {
      height: 44px;
      width: 44px;
      margin-left: -4px;
      margin-right: 16px;
    }
    &.md {
      height: 48px;
      width: 48px;
      margin-left: -4px;
      margin-right: 12px;
    }
  }
  ion-searchbar {
    &.md {
      --border-radius: calc(var(--custom-radius) * 0.5);
    }

    --background: var(--ion-color-light-tint);
    --box-shadow: none;
    padding-top: 32px;
    position: fixed;
    height: 64px;
    z-index: 2;
  }
  --background: var(--ion-card-background);
}

.shade {
  background-color: var(--ion-card-background, #ffffff);
  top: 0;
  height: 32px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
