<ion-content>
  <ion-button
    [@fade-150ms-0ms]=""
    class="next-button"
    (click)="next()"
    color="dark"
    fill="clear"
    *ngIf="showNext"
  >
    Next
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-button>
  <swiper
    #swiper
    [pagination]="{ clickable: true }"
    [preventInteractionOnTransition]="true"
    (slideChange)="onSlideChange()"
  >
    <ng-template swiperSlide>
      <div class="flex grid">
        <img class="splash" src="assets/tour/splash.svg" />
        <div class="flex column">
          <h1>Welcome to {{ store.info.object.name }}!</h1>
          <p>Swipe left to start</p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="flex column">
        <ion-button
          class="full-width"
          [queryParams]="{ signup: true }"
          [routerLink]="'/auth/login'"
          size="large"
        >
          Sign Up
        </ion-button>
        <div class="flex">
          <p>Already have an account?</p>
          <ion-button
            class="login-button"
            fill="clear"
            [routerLink]="'/auth/login'"
            >Log In</ion-button
          >
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="flex grid">
        <div class="flex column">
          <ion-button
            class="config-button"
            color="light"
            [routerLink]="'/home/configure'"
          >
            <ion-icon name="hammer-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <p>Device Configurator</p>
        </div>
        <div class="spacer"></div>
        <div class="flex column">
          <ion-button
            class="config-button"
            color="light"
            [routerLink]="'/home/nfc'"
          >
            <ion-icon name="images-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <p>Tag Editor</p>
        </div>
      </div>
    </ng-template>
  </swiper>
</ion-content>
