<ion-content>
  <ion-button
    [@fade-150ms-0ms]=""
    class="next-button"
    (click)="next()"
    color="dark"
    fill="clear"
    *ngIf="showNext"
  >
    Next
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-button>
  <swiper
    #swiper
    [pagination]="{ clickable: true }"
    [preventInteractionOnTransition]="true"
    (slideChange)="onSlideChange()"
  >
    <ng-template swiperSlide>
      <div class="flex welcome">
        <img class="splash" src="assets/tour/splash.svg" />
        <h1>Welcome to {{ store.info.object.name }}!</h1>
        <p>Swipe left to start</p>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="buttons flex">
        <ion-button
          class="sign-up-button"
          [queryParams]="{ signup: true }"
          [routerLink]="'/auth/login'"
          size="large"
        >
          Sign Up
        </ion-button>
        <div class="flex">
          <p>Already have an account?</p>
          <ion-button
            class="login-button"
            fill="clear"
            [routerLink]="'/auth/login'"
            >Log In</ion-button
          >
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="flex">
        <p>Tag Editor & Device Configurator</p>
      </div>
    </ng-template>
  </swiper>
</ion-content>
