*,
ion-item::part(native) {
  transition: background-color 150ms, border-bottom-color 150ms;
}

ion-item {
  &.ion-invalid.ion-touched .error-hint {
    display: flex;
  }
}

small {
  ion-icon {
    padding-right: 2px;
  }
  color: var(--ion-color-medium);
  padding-bottom: 8px;
}

.error-hint {
  color: var(--ion-color-danger);
  display: none;
}
