*,
ion-item::part(native) {
  transition: background-color 150ms, border-bottom-color 150ms;
}

ion-item {
  &.ion-invalid.ion-touched .error-hint {
    display: flex;
  }
}

small {
  &.flex {
    flex-wrap: nowrap;
  }
  ion-icon {
    min-width: 16px;
    padding-right: 2px;
  }
  color: var(--ion-color-medium);
  padding-bottom: 8px;
}

.avatar-modal {
  ion-button {
    ion-icon {
      height: 24px;
      margin-right: 8px;
      width: 24px;
    }
    height: calc(12vh - 36px);
    width: calc(50% - 12px);
  }
  display: flex;
  justify-content: space-between;
}

.edit {
  ion-icon {
    padding: 0;
  }
  position: relative;
  bottom: 0;
  left: 220px;
  z-index: 2;
}

.error-hint {
  color: var(--ion-color-danger);
  display: none;
}
