<div
  class="card"
  [formGroup]="_full ? fullForm : loginForm"
  (keyup.enter)="submit()"
>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input formControlName="username"></ion-input>
    <small class="flex" *ngIf="_full">
      <ion-icon name="information-circle-outline"></ion-icon>
      <span>This is what you login with</span>
    </small>
    <small class="flex error-hint">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <span>Required</span>
    </small>
  </ion-item>
  <ion-item *ngIf="_full">
    <ion-label position="floating">Display Name</ion-label>
    <ion-input formControlName="displayName"></ion-input>
    <small class="flex">
      <ion-icon name="information-circle-outline"></ion-icon>
      <span>This is what other people see</span>
    </small>
    <small class="flex error-hint">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <span>Required</span>
    </small>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input
      formControlName="password"
      [type]="showPassword ? 'text' : 'password'"
    >
    </ion-input>
    <ion-button
      class="show-hide-button"
      (click)="showPassword = !showPassword"
      color="dark"
      fill="clear"
      slot="end"
    >
      <ion-icon
        [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
      ></ion-icon>
    </ion-button>
    <small class="error-hint flex">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <span>Minimum 8 characters</span>
    </small>
  </ion-item>
  <ion-item *ngIf="_full">
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input
      formControlName="passwordConfirm"
      [type]="showConfirmPassword ? 'text' : 'password'"
    >
    </ion-input>
    <ion-button
      class="show-hide-button"
      (click)="showConfirmPassword = !showConfirmPassword"
      color="dark"
      fill="clear"
      slot="end"
    >
      <ion-icon
        [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'"
      ></ion-icon>
    </ion-button>
    <small class="error-hint flex" *ngIf="showMatchError()">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <span>Passwords must match</span>
    </small>
  </ion-item>
</div>
