<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ store.info.object.name }} </ion-title>
    <ion-buttons class="round" slot="end">
      <ion-button class="avatar" id="user-trigger">
        <app-avatar
          [fileName]="store.user.me?.avatarFileName"
          [size]="34"
        ></app-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-popover
  [dismissOnSelect]="true"
  [showBackdrop]="false"
  trigger="user-trigger"
>
  <ng-template>
    <ion-content class="user-popover">
      <ion-list>
        <ion-item
          [button]="true"
          [detail]="false"
          lines="none"
          [routerLink]="'/home/peer/' + store.user.me?._id"
        >
          {{ store.user.me?.displayName }}
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <ion-item
          [button]="true"
          [detail]="false"
          lines="none"
          [routerLink]="'/home/configure'"
        >
          Device Configurator
          <ion-icon name="hammer-outline"></ion-icon>
        </ion-item>
        <ion-item
          [button]="true"
          [detail]="false"
          lines="none"
          [routerLink]="'/home/nfc'"
        >
          Tag Editor
          <ion-icon name="images-outline"></ion-icon>
        </ion-item>
        <ion-item
          [button]="true"
          [detail]="false"
          lines="none"
          [routerLink]="'/home/settings'"
        >
          Settings
          <ion-icon name="settings-outline"></ion-icon>
        </ion-item>
        <ion-item
          [button]="true"
          (click)="logout()"
          [detail]="false"
          lines="none"
        >
          Logout
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{ store.info.object.name }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-peer
      *ngFor="let message of store.message.latest"
      [message]="message"
    ></app-peer>
    <ion-item
      class="new-conversation"
      [@fade-150ms-0ms]=""
      [button]="true"
      (click)="this.modalRef?.present()"
      [detail]="false"
      *ngIf="store.message.latest.length > 0"
    >
      <app-avatar [name]="'add-outline'" [size]="platform.is('ios') ? 36 : 40">
      </app-avatar>
      Add new conversation...
    </ion-item>
  </ion-list>

  <div
    class="centred no-messages"
    [@fade-150ms-0ms]=""
    *ngIf="store.message.latest.length < 1 && !store.ui.isLoading()"
  >
    <div class="shrug">🤷</div>
    <h4>We couldn't find any messages</h4>
    <p>Try sending one with the people menu</p>
  </div>

  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button id="people-search">
      <ion-icon name="people-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-people-search (modalRef)="modalRef = $event"></app-people-search>
</ion-content>
