ion-item {
  --background: transparent;
  --padding-end: var(--padding-start);
}

ion-list {
  background: transparent;
}

ion-popover ion-content {
  --background: var(--ion-card-background);
}

.no-messages {
  .shrug {
    font-family: 'Noto Emoji', emoji;
    font-size: 96px;
  }
  text-align: center;
  width: 100%;
}

.user-popover {
  ion-item {
    --inner-padding-end: 0;
  }
  ion-icon {
    margin-left: auto;
  }
}
