app-avatar {
  padding: 24px 0;
}

div.flex {
  flex-direction: column;
}

h5 {
  color: var(--ion-color-medium);
}

ion-input {
  font-size: 24px;
  text-align: center;
}

ion-content {
  --background: var(--ion-card-background, #ffffff);
}

small {
  * {
    padding-right: 2px;
  }
  color: var(--ion-color-medium);
  padding: 8px;
}
