<ion-modal
  [breakpoints]="[0, breakpoint]"
  [initialBreakpoint]="breakpoint"
  (ionModalWillDismiss)="onDismiss()"
  [showBackdrop]="false"
  [trigger]="trigger"
>
  <ng-template>
    <ion-content class="ion-padding" [scrollY]="false">
      <div class="flex">
        <ion-item>
          <ion-input
            [formControl]="nicknameForm"
            [placeholder]="user.displayName"
            (ionBlur)="showInfo = false"
            (ionFocus)="showInfo = true"
          >
          </ion-input>
        </ion-item>
        <small [@fade-100ms-0ms]="" class="flex" *ngIf="showInfo">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>Nickname replaces display name.</span>
          <span>Only visible to you</span>
        </small>
        <h5>{{ '@' + user.username }}</h5>
        <app-avatar [fileName]="user.avatarFileName" [size]="256"></app-avatar>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
