<ion-item
  [@fade-150ms-0ms]=""
  *ngIf="message"
  [routerLink]="'/home/peer/' + message.peer._id"
  [class.unread]="message.currentTime === 0"
  [button]="true"
  [detail]="false"
>
  <app-avatar
    [fileName]="message.peer.avatarFileName"
    [size]="platform.is('ios') ? 36 : 40"
  ></app-avatar>
  <ion-label class="ion-text-wrap">
    <h2>
      {{ message.peer.nickname || message.peer.displayName }}
      <span class="date">
        <ion-note>{{ formatDatetime(message.createdAt) }}</ion-note>
      </span>
    </h2>
  </ion-label>
  <div class="dot" slot="end"></div>
</ion-item>
