<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ signup ? 'Sign Up' : 'Log In' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <app-user-form
      (avatarChange)="avatar = $event"
      [full]="signup"
      [fullForm]="signupForm"
      [loginForm]="loginForm"
      [submit]="submit"
    ></app-user-form>
    <div class="buttons flex">
      <ion-button
        class="submit-button"
        (click)="submit()"
        [disabled]="signup ? signupForm.invalid : loginForm.invalid"
        size="large"
      >
        {{ signup ? 'Sign Up' : 'Log In' }}
      </ion-button>
      <div class="flex">
        <p>{{ signup ? 'Already' : "Don't" }} have an account?</p>
        <ion-button class="login-button" (click)="toggleSignup()" fill="clear">
          {{ signup ? 'Log In' : 'Sign Up' }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
