ion-item {
  &.ion-invalid.ion-touched .error-hint {
    display: flex;
  }
}

small {
  ion-icon {
    padding-right: 2px;
  }
  color: var(--ion-color-medium);
  padding-bottom: 8px;
}

.buttons {
  flex-direction: column;
}

.container {
  margin: auto;
  width: min(384px, calc(100% - 64px));
}

.login-button {
  font-size: 16px;
  text-transform: none;
}

.submit-button {
  margin: 0;
  text-transform: none;
  width: 100%;
}
