.buttons {
  flex-direction: column;
}

.container {
  margin: auto;
  width: min(384px, calc(100% - 64px));
}

.login-button {
  font-size: 16px;
  text-transform: none;
}

.submit-button {
  margin: 0;
  text-transform: none;
  width: 100%;
}
