/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Swiper.js */
@import '~swiper/scss';
@import '~swiper/scss/pagination';
@import '~@ionic/angular/css/ionic-swiper';

@font-face {
  font-family: 'Courier Prime';
  src: url('assets/fonts/CourierPrime-Regular.ttf');
}

@font-face {
  font-family: 'Noto Emoji';
  src: url('assets/fonts/NotoEmoji-VariableFont_wght.ttf');
}

:root {
  --custom-radius: 12px;
  --record-color: 244, 67, 54;
  --send-color: 76, 175, 80;
}

ion-modal {
  ion-content {
    border-top-left-radius: var(--custom-radius);
    border-top-right-radius: var(--custom-radius);
  }
}

.button-solid,
.button-clear {
  &.button-large {
    --border-radius: var(--custom-radius) !important;
  }

  --border-radius: calc(var(--custom-radius) * 0.5) !important;
}

.centred {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30000;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ion-buttons.round ion-button,
ion-button.round {
  &::part(native) {
    padding: 0;
  }
  ion-icon {
    height: 60%;
    width: 60%;
  }
  --border-radius: 50% !important;
  height: 40px;
  width: 40px;
}

ion-content.md {
  --background: var(--ion-color-dark-contrast);
}

ion-toolbar.md {
  --background: var(--ion-color-dark-contrast);
}

.spinner {
  &.md {
    --color: var(--ion-color-primary);
    height: 96px;
    width: 96px;
  }
  &.ios {
    height: 48px;
    width: 48px;
  }

  filter: drop-shadow(0 0 16px black);
}

//.spinner-background {
//  width: 86px;
//  height: 86px;
//  border-radius: 64px;
//  border: solid 8px rgba(0, 0, 0, .5);
//}

.toast {
  --border-radius: var(--custom-radius);
}
